<!DOCTYPE html>
<html>
	<head>
		<title> Mobile Pong</title>
		<!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->
	</head>

	<body>
		<!-- <h3 align="center">Virtual Pong</h3> -->
		<canvas id="canvas"></canvas>
		<% include ../partials/scripts.ejs %>
	</body>
</html>
